/* Section */

.section {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.parrafo {
  font-size: 18px;
  padding: 0rem 1rem;
}

.parrafo p:nth-child(1) {
  padding-bottom: 0.5rem;
}

.table {
  width: 50%;
  height: 70%;
  margin: auto 0.8rem;
  overflow-y: scroll;
}

.thead tr {
  display: grid;
  background-color: white;
  grid-template-rows: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid lightgray;
  align-items: center;
  position: sticky;
  top: 0;
}

.thead h3:nth-child(3) {
  text-align: center;
}

.tbody_row {
  display: grid;
  grid-template-rows: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border-bottom: 2px solid gray;
}

.dbutton {
  width: 4rem;
  height: 2rem;
  color: white;
  background-color: #3374eb;
  border-radius: 10px;
  padding: 1px;
  font-weight: bolder;
  justify-self: center;
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35%;
  background-color: ivory;
  height: 55%;
  margin: auto 0px;
  padding: 1rem 0px;
  border: 1px solid grey;
}

.form label {
  font-size: 1.4rem;
  margin-left: 1rem;
  font-weight: bold;
}

.user_input,
.ofice_input {
  width: 80%;
  margin: 0px auto;
  height: 1.5rem;
  border-radius: 7px;
  color: black;
}

.button_input {
  width: 25%;
  height: 18%;
  margin-left: 65%;
  background-color: purple;
  color: white;
  border-radius: 10px;
  font-size: 1.3rem;
}
